<!-- <nav id="nav">
    <div class="navBar animate__animated animate__fadeInDown animate__delay-1s">
        <p class="cursor-pointer text-white text-center text-xl">
            <span class="mx-4"><a class="hover:text-red-300" href="#proyectos">Proyectos</a></span>|
            <span class="mx-4"><a class="hover:text-red-300" href="#skills">Skills</a></span>|
            <span class="mx-4"><a class="hover:text-red-300" href="#contacto">Contact</a></span>
        </p>
    </div>
</nav> -->
<!-- titulo -->
<!-- <div class="flex flex-col align-bottom ease-in-out duration-1000 select-none">
    <div class="flex justify-center relative">
        <p id="titulo1"
            class="flex font-bold h1 text-[#e69877] text-center mt-24 text-4xl relative justify-start glitch-title"
            onclick="recargar()">
            LitimlessExperience
        </p>
    </div>
    <br>
    <div class="flex justify-center relative">
        <p id="titulo2"
            class="flex font-semibold text-[#f4a17e] text-center h1 mt-4 text-4xl relative justify-start z-50">
            &nbsp;
        </p>
    </div>
    <div class="flex justify-center relative">
        <p id="titulo3"
            class="flex font-semibold text-[#f4a17e] text-center h1 mb-24 text-4xl relative justify-start z-50">
            &nbsp;
        </p>
    </div>
</div>
 -->