<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon2.png') }}" type="image/x-icon" />
  <title>Lucio Cardenas Rodriguez</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
  <meta property="og:type" content="website">
  <meta property="og:image" itemprop="image primaryImageOfPage"
    content="https://live.staticflickr.com/65535/53174601630_fb14394712_o.png">
  <meta property="og:description"
    content="Bienvenidos a mi sitio aquí encontrarás mis proyectos, links y medios de contacto más actualizados.">
  <meta property="og:url" content="https://luciocardenas.pythonanywhere.com/">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/61042a5f3b.js" crossorigin="anonymous"></script>
  <!-- TailwindCSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet" />
  <!-- Animate css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  {% if request.path.startswith('/home') %}
  <nav id="nav" class="w-screen">
    <div class="navBar animate__animated animate__fadeInDown animate__delay-1s w-screen">
      <p class="cursor-pointer text-white text-center text-xl select-none w-screen">
        <span class="mx-4"><a class="hover:text-red-300" href="#proyectos">Proyectos</a></span>|
        <span class="mx-4"><a class="hover:text-red-300" href="#skills">Skills</a></span>|
        <span class="mx-4"><a class="hover:text-red-300" href="#contacto">Contacto</a></span>
      </p>
    </div>
  </nav>
  {% endif %}
  <div>
    <!-- titulo -->
    <div class="flex flex-col align-bottom ease-in-out duration-1000 select-none">
      <div class="flex justify-center relative">
        <p id="titulo1"
          class="flex font-bold h1 text-[#e69877] text-center mt-24 text-4xl relative justify-start glitch-title"
          onclick="recargar()">
          LitimlessExperience
        </p>
      </div>
      <br>
      <div class="flex justify-center relative">
        <p id="titulo2"
          class="flex font-semibold text-[#f4a17e] text-center h1 mt-4 text-4xl relative justify-start z-50">
          &nbsp;
        </p>
      </div>
      <div class="flex justify-center relative">
        <p id="titulo3"
          class="flex font-semibold text-[#f4a17e] text-center h1 mb-24 text-4xl relative justify-start z-50">
          &nbsp;
        </p>
      </div>
    </div>
  </div>
  <section id="proyectosSection">
    <div id="proyectos" class="lg:h-4 h-14"></div>
    <!-- proyectos -->
    <div class="content animate__animated animate__fadeIn animate__delay-1s">
      {% block content %}
      <div class="grid grid-cols-1 m-4 px-6 gap-4 lg:grid-cols-2 lg:m-24 lg:px-24 lg:gap-24">
        {% for proyecto in proyectos %}
        <div
          class="card p-4 rounded-xl select-none cursor-default ease-in-out duration-700 hover:bg-red-400 hover:bg-opacity-80 hover:text-white">
          <h2 class="text-lg break-words lg:text-2xl font-bold mb-4 text-center"><span class="cursor-default">📌&nbsp;{{
              proyecto['titulo']
              }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="font-semibold hover:text-pink-200"
              href="{{ proyecto['url_proyecto'] }}" target="_blank">🌐&nbsp;Link</a></h2>
          <hr class="my-4 mx-48">
          <p class="lg:my-4 my-2 text-center">{{ proyecto['descripcion'] }}</p>
          <img class="mx-auto rounded-2xl" src="{{ proyecto['imagen_id'] }}" alt="{{ proyecto['titulo'] }}"
            loading="lazy" />
        </div>
        {% endfor %}
      </div>
      {% endblock %}
    </div>
  </section>
  <!-- skill -->
  <section id="skillsSection">
    <div id="skills" class="h-screen pt-28 py-12 mx-8 mb-64">
      <div id="skillsContent" class="glassmorfismo flex-wrap flex-row lg:mx-48 mx-auto text-white lg:p-8 p-10 mb-8">

        <h1 class="text-2xl font-semibold text-center">Lucio Cárdenas Rodríguez</h1>
        <div class="flex-1">
          <hr class="lg:mx-72 mx-12 my-2">
          <h1 class="flex-1 text-xl font-bold text-center mb-6">Tecnologías</h1>
          <p>
          <p class="md:px-40 text-center">Soy un apasionado desarrollador web con experiencia en frontend y backend
            utilizando tecnologías como
            Python,
            Flask, Django, JavaScript, Angular, PHP, HTML, CSS y diversos frameworks.</p>
          <div class="text-white grid grid-cols-4 lg:mx-60 lg:gap-0 lg:scale-100 lg:py-16 lg:relative lg:left-3
                      gap-12 relative right-20 top-10">
            <img class="svg" src="{{url_for('static', filename='svg/tuerca.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/html.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/css3.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/angular.svg')}}">
          </div>
          <p class="md:px-40 lg:mt-4 mt-20 text-center">Actualmente, estoy especializándome en ciberseguridad en
            entornos Linux, específicamente en Parrot OS. Mis
            áreas
            de interés incluyen la seguridad de sistemas informaticos, pentesting y la elevación de privilegios desde la
            shell.
            Para
            ampliar mis conocimientos, actualmente, me encuentro capacitándome en Linux, hacking ético y estrategias de
            defensa en
            la
            academia Hack4u.</p>
          <div class="text-white grid grid-cols-4 lg:mx-56 lg:gap-0 lg:scale-100 lg:py-16 lg:relative lg:left-3
          gap-12 relative right-20 top-10">
            <img class="svg" src="{{url_for('static', filename='svg/javascript.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/python.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/linux.svg')}}">
            <img class="svg" src="{{url_for('static', filename='svg/computadora.svg')}}">
          </div>
          <p class="md:px-40 lg:mt-4 mt-20 text-center">Mi meta es formar parte de un equipo de Red Team, donde pueda
            aplicar mis habilidades y continuar aprendiendo por el área que me apasiona. Evaluar y fortalecer la
            seguridad de sistemas y redes. Personalmente me entusiasma la oportunidad de contribuir a la
            protección de la información y la mitigación de riesgos en entornos digitales.</p>
          </p>
        </div>
      </div>
  </section>
  <section id="contactoSection">
    <div id="contacto" class="h-14"></div>
    <div class="glassmorfismo h-48">
      <div class="text-white">
        <div class="flex justify-center gap-12">
          <button class="mt-12 border border-sky-500 rounded-full py-2 px-4 hover:bg-red-400 hover:bg-opacity-80 hover:text-white"> Correo electronico</button>
          <button class="mt-12 border border-sky-500 rounded-full py-2 px-4 hover:bg-red-400 hover:bg-opacity-80 hover:text-white">
            <a href="https://github.com/lucio-crDEV" target="_blank" rel="noopener noreferrer">GitHub</a></button>
          <button class="mt-12 border border-sky-500 rounded-full py-2 px-4 hover:bg-red-400 hover:bg-opacity-80 hover:text-white">
            <a href="https://www.youtube.com/channel/UCcyeFqwCW3cURgchZG2fGhg" target="_blank" rel="noopener noreferrer">Youtube</a></button>
        </div>
      </div>
    </div>
  </section>
  <footer class="relative cursor-default">
    <div class="absolute inset-x-0 bottom-4">
      <p class="text-center text-white"><small>Chily, 2023</small></p>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/subAnimation.js') }}" type="module"></script>
</body>

</html>